<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <variable comment="0,1,2" constant="0" name="Control" sid="336316248109364" static="0" type="number">0</variable>
        <event-block sid="865258396020012">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="616217241257158" type="Nueva">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="774141033855702" type="Nueva">
                    <param id="0" name="Opacity">100</param>
                </action>
                <action id="9" name="Set scale" sid="775183385873700" type="Nueva">
                    <param id="0" name="Scale">0.07</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="929132777383697">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="812622346556371" type="Nueva">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">1</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="505858346921664" type="Nueva">
                    <param id="0" name="Opacity">70</param>
                </action>
                <action id="9" name="Set scale" sid="125790034909674" type="Nueva">
                    <param id="0" name="Scale">0.05</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="348463409261751">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="733749809534673" type="Configuraciones">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="298778309364039" type="Configuraciones">
                    <param id="0" name="Opacity">100</param>
                </action>
                <action id="9" name="Set scale" sid="580312620244047" type="Configuraciones">
                    <param id="0" name="Scale">0.07</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="711599423005659">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="877175433468374" type="Configuraciones">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">1</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="964332392466825" type="Configuraciones">
                    <param id="0" name="Opacity">70</param>
                </action>
                <action id="9" name="Set scale" sid="947872999859908" type="Configuraciones">
                    <param id="0" name="Scale">0.05</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="797432909548899">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="475751445287706" type="salir">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="324014366650567" type="salir">
                    <param id="0" name="Opacity">100</param>
                </action>
                <action id="9" name="Set scale" sid="856678717044381" type="salir">
                    <param id="0" name="Scale">0.07</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="701977520043251">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="829001890855862" type="salir">
                    <param id="0" name="Instance variable">opcion</param>
                    <param id="1" name="Comparison">1</param>
                    <param id="2" name="Value">Control</param>
                </condition>
            </conditions>
            <actions>
                <action id="-16" name="Set opacity" sid="198235205942033" type="salir">
                    <param id="0" name="Opacity">70</param>
                </action>
                <action id="9" name="Set scale" sid="403977976522743" type="salir">
                    <param id="0" name="Scale">0.05</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="241228387240029">
            <conditions>
                <condition id="0" name="On key pressed" sid="943604232798495" type="Keyboard">
                    <param id="0" name="Key">40</param>
                </condition>
            </conditions>
            <actions>
                <action id="-10" name="Add to" sid="570987367703658" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Value">1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="802753054263077">
            <conditions>
                <condition id="0" name="On key pressed" sid="242038821930475" type="Keyboard">
                    <param id="0" name="Key">38</param>
                </condition>
            </conditions>
            <actions>
                <action id="-11" name="Subtract from" sid="540623434375541" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Value">1</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="725354293355317">
            <conditions>
                <condition id="-14" name="Compare variable" sid="150685707383772" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Comparison">4</param>
                    <param id="2" name="Value">2</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="637709547148199" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Value">0</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="565997759348233">
            <conditions>
                <condition id="-14" name="Compare variable" sid="363879209082867" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Comparison">2</param>
                    <param id="2" name="Value">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="997804381131345" type="System">
                    <param id="0" name="Variable">Control</param>
                    <param id="1" name="Value">2</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="957206741527709">
            <conditions>
                <condition id="0" name="On key pressed" sid="480023631302144" type="Keyboard">
                    <param id="0" name="Key">13</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="268691421215324">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="236139777832069" type="System">
                            <param id="0" name="Variable">Control</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-2" name="Go to layout" sid="477325076332442" type="System">
                            <param id="0" name="Layout">Nueva</param>
                        </action>
                    </actions>
                </event-block>
                <event-block sid="140453351571633">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="494625144487365" type="System">
                            <param id="0" name="Variable">Control</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">1</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-2" name="Go to layout" sid="385374181273364" type="System">
                            <param id="0" name="Layout">Instrucciones</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
    </events>
</c2eventsheet>
